<title>e-Commerce | Sepetim</title>

<div class="row text-center">
  <div class="col-9 mb-2">

    <div class="card mb-2" style="height: 310px;">
      <div class="row">

            <div class="col-4" style="height: 300px;">
                <div style="padding: 5px 5px;">

                    <img 
                    class="img-fluid"
                    src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/50789b51-87a9-4d52-89b8-0f7f788138ac/pegasus-39-shield-hava-%C5%9Fartlar%C4%B1na-dayan%C4%B1kl%C4%B1-yol-ko%C5%9Fu-ayakkab%C4%B1s%C4%B1-Fp3SPv.png" />
                </div>
            </div>
                
            <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                <h4>Nike Pegasus 39 Shield</h4>
                <p>Hava Şartlarına Dayanıklı Erkek Yol Koşu Ayakkabısı</p>
            </div>
            
            <div class="col-2 d-flex align-items-center justify-content-center">
                <button class="btn btn-sm btn-default" style="font-size: 25px;">-</button>
                <p class="mb-0" style="border: solid; padding: 0px 5px; border-radius: 10px; font-size: 20px;">2</p>
                <button class="btn btn-sm btn-default" style="font-size: 25px;">+</button>

            </div>

            <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                <h5>Toplam:</h5>
                <p>{{9800 | trCurrency: "₺" : true}}</p>
            </div>
        
        </div>
    </div>

    <div class="card mb-2" style="height: 310px;">
        <div class="row">
  
              <div class="col-4" style="height: 300px;">
                  <div style="padding: 5px 5px;">
  
                      <img 
                      class="img-fluid"
                      src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/50789b51-87a9-4d52-89b8-0f7f788138ac/pegasus-39-shield-hava-%C5%9Fartlar%C4%B1na-dayan%C4%B1kl%C4%B1-yol-ko%C5%9Fu-ayakkab%C4%B1s%C4%B1-Fp3SPv.png" />
                  </div>
              </div>
                  
              <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                  <h4>Nike Pegasus 39 Shield</h4>
                  <p>Hava Şartlarına Dayanıklı Erkek Yol Koşu Ayakkabısı</p>
              </div>
              
              <div class="col-2 d-flex align-items-center justify-content-center">
                  <button class="btn btn-sm btn-default" style="font-size: 25px;">-</button>
                  <p class="mb-0" style="border: solid; padding: 0px 5px; border-radius: 10px; font-size: 20px;">2</p>
                  <button class="btn btn-sm btn-default" style="font-size: 25px;">+</button>
  
              </div>
  
              <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                  <h5>Toplam:</h5>
                  <p>{{9800 | trCurrency: "₺" : true}}</p>
              </div>
          
          </div>
    </div>

    <div class="card mb-2" style="height: 310px;">
        <div class="row">
  
              <div class="col-4" style="height: 300px;">
                  <div style="padding: 5px 5px;">
  
                      <img 
                      class="img-fluid"
                      src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/50789b51-87a9-4d52-89b8-0f7f788138ac/pegasus-39-shield-hava-%C5%9Fartlar%C4%B1na-dayan%C4%B1kl%C4%B1-yol-ko%C5%9Fu-ayakkab%C4%B1s%C4%B1-Fp3SPv.png" />
                  </div>
              </div>
                  
              <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                  <h4>Nike Pegasus 39 Shield</h4>
                  <p>Hava Şartlarına Dayanıklı Erkek Yol Koşu Ayakkabısı</p>
              </div>
              
              <div class="col-2 d-flex align-items-center justify-content-center">
                  <button class="btn btn-sm btn-default" style="font-size: 25px;">-</button>
                  <p class="mb-0" style="border: solid; padding: 0px 5px; border-radius: 10px; font-size: 20px;">2</p>
                  <button class="btn btn-sm btn-default" style="font-size: 25px;">+</button>
  
              </div>
  
              <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                  <h5>Toplam:</h5>
                  <p>{{9800 | trCurrency: "₺" : true}}</p>
              </div>
          
          </div>
    </div>
    
  </div>
  <div class="col-3 d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            <h3>Sepet Tutarı</h3>
            <h3>
                {{15000 | trCurrency: "₺" : true}}
            </h3>
        </div>
        <div class="card-body">
            <h3>Sepetteki Ürünler</h3>
            <hr>
            <ul>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
                <li class="row d-flex justify-content-center align-items-center">
                    <p class="col-9">Nike Pegasus 39 Shield</p>
                    <p class="col-3">2 Ad.</p>
                </li>
            </ul>
            <hr>
            <button class="btn btn-dark">Ödeme Yap</button>
        </div>
    </div>
  </div>
</div>