<title>e-Commerce | Login</title>

<div
  class="d-flex align-items-center justify-content-center"
  style="height: 70vh"
>
  <div class="card" style="width: 50%">
    <div class="card-header text-center">
      <h2>Giriş Yap</h2>
      <p>Bilgilerinizi giriniz.</p>
    </div>
    <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="signIn(loginForm)">
      <div class="card-body">
        <div class="form-group">
          <label for="email">E-Posta Adresi</label>
          <input
            ngModel
            required
            email
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="email@email.com"
          />
        </div>
        <div class="form-group mt-1">
          <label for="password">Şifre</label>
          <input
            ngModel
            required
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="****"
          />
        </div>
      </div>
      <div class="card-footer text-end">
        <button [disabled]="!loginForm.valid" class="btn btn-dark form-control">
          Giriş Yap
        </button>
        <a routerLink="/register">Hesabınız yok mu?</a>
      </div>
    </form>
  </div>
</div>
